@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Crimson+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
    --bg: #141414;
    --fg: #ffffff;
    --acc: #01ff70;
    --code-bg: #242424;
    --active-link: #2ecc40;
}

pre,
code {
    font-family: monospace;
}

pre {
    padding: 1rem;
    line-height: 1.25;
}

pre > code {
    white-space: pre;
}

pre {
    overflow-x: scroll;
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

strong {
    color: var(--acc);
}

a,
a:visited {
    color: var(--acc);
}

a:hover,
a:focus,
a:active {
    color: var(--active-link);
}

.retro-no-decoration {
    text-decoration: none;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 48rem) {
    html {
        font-size: 16px;
    }
}

body {
    line-height: 1.85;
    font-size: 1.4rem;
}

* {
    scrollbar-width: auto;
    scrollbar-color: var(--acc) var(--bg);
}

*::-webkit-scrollbar {
    width: 0.3rem;
}

*::-webkit-scrollbar-track {
    background: var(--bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--acc);
}

p,
.retro-p {
    margin-bottom: 1.3rem;
}

h1,
.retro-h1,
h2,
.retro-h2,
h3,
.retro-h3,
h4,
.retro-h4 {
    margin: 1.414rem 0 0.5rem;
    font-weight: inherit;
    line-height: 1.42;
}

h1,
.retro-h1,
h2,
.retro-h2,
h3,
.retro-h3 {
    color: var(--acc);
    font-weight: 700;
    font-family: "Cormorant Garamond";
}

h1,
.retro-h1 {
    margin-top: 0;
    font-size: 3.998rem;
}

h2,
.retro-h2 {
    font-size: 2.827rem;
}

h3,
.retro-h3 {
    font-size: 1.999rem;
}

h4,
.retro-h4 {
    font-size: 1.414rem;
}

h5,
.retro-h5 {
    font-size: 1.121rem;
}

h6,
.retro-h6 {
    font-size: 0.88rem;
}

small,
.retro-small {
    font-size: 0.707em;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
    max-width: 100%;
}

html,
body {
    background-color: var(--bg);
    min-height: 100%;
}

body {
    color: var(--fg);
    font-family: "Crimson Pro";
    line-height: 1.45;
    margin: 6rem auto 1rem;
    max-width: 48rem;
    padding: 0.25rem;
}

pre,
code {
    background-color: var(--code-bg);
}

code {
    padding: 0.1rem;
}

blockquote {
    border-left: 3px solid var(--acc);
    padding-left: 1rem;
}

li::marker {
    color: var(--acc);
}

::selection {
    background: var(--acc);
    color: var(--bg);
}
::-moz-selection {
    background: var(--acc);
    color: var(--bg);
}

@media screen and (min-width: 32rem) and (max-width: 64rem) {
    body {
        padding: 2rem;
        margin-top: 2rem;
        font-size: 1.2rem;
    }

    h1,
    .retro-h1 {
        margin-top: 0;
        font-size: 2.7rem;
    }

    h2,
    .retro-h2 {
        font-size: 2.2rem;
    }

    h3,
    .retro-h3 {
        font-size: 1.8rem;
    }

    blockquote {
        padding-left: 1rem;
        margin-left: 2rem;
    }
}

@media screen and (max-width: 32rem) {
    body {
        padding: 2rem;
        margin-top: 2rem;
        font-size: 1.2rem;
    }

    h1,
    .retro-h1 {
        margin-top: 0;
        font-size: 2.3rem;
    }

    h2,
    .retro-h2 {
        font-size: 1.8rem;
    }

    h3,
    .retro-h3 {
        font-size: 1.4rem;
    }

    blockquote {
        padding-left: 0.7rem;
        margin-left: 0.7rem;
    }
}
